AWSTemplateFormatVersion: '2010-09-09'

Description: >
  EC2 Scheduled Lambda

Resources:
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: "rol-lambda-ec2-scheduler"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - lambda.amazonaws.com
          Action:
            - sts:AssumeRole
      Policies:
        - PolicyName: pol-lambda-ec2-scheduler
          PolicyDocument:
            Statement:
              - Sid: LogGroupAccess
                Effect: Allow
                Action:
                  - "logs:CreateLogStream"
                  - "logs:CreateLogGroup"
                  - "logs:PutLogEvents"
                  - "logs:DescribeLogStreams"
                Resource:
                  - "arn:aws:logs:*:*:*"
              - Sid: StartStopEc2
                Effect: Allow
                Action:
                  - "ec2:StartInstances"
                  - "ec2:StopInstances"
                  - "ec2:DescribeInstances"
                Resource:
                  - "*"

  SshSg:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SSH with to be modified via Lambda function

  SshSgInboundRule:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: tcp
      FromPort: 0
      ToPort: 65535
      SourceSecurityGroupId:
        Fn::GetAtt:
          - SshSg
          - GroupId
      GroupId:
        Fn::GetAtt:
          - SshSg
          - GroupId


  Ec2SchedulerLambdaStart:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: "lambda-ec2-scheduler-start"
      Description:  Lambda to start an EC2 based on Tag daily_scheduled:True
      Handler: index.lambda_handler
      MemorySize: 128
      Timeout: 120
      TracingConfig:
        Mode: Active
      Role: !GetAtt LambdaExecutionRole.Arn
      Runtime: python3.9
      Code:
        ZipFile: |
            import requests
            from botocore.exceptions import ClientError

            ec2 = boto3.client('ec2')
            my_ip = ""

            def myip():
                global my_ip
                url = "http://checkip.amazonaws.com/"
                ip_response = requests.request("GET", url)
                my_ip = (ip_response.text)
                my_ip = my_ip.replace("\n", "")
                return my_ip

            def modify_sgp():
                ip = myip()
                sg_rules_list = [
                    {
                        'SecurityGroupRuleId':'sgr-09409123fa952c7df' ,
                        'SecurityGroupRule': {
                            'IpProtocol': 'tcp',
                            'FromPort': 22,
                            'ToPort': 22,
                            'CidrIpv4': f"{ip}/32",
                            'Description': 'Added SSH port via script'
                        }
                    }
                ]
                try:
                    response = ec2.modify_security_group_rules(GroupId='sg-0aa713ae41d6e936b', SecurityGroupRules=sg_rules_list)
                    print(f"Response code = {response['ResponseMetadata']['HTTPStatusCode']}")
                except ClientError as e:
                    print(e)

  EventRuleEc2SchedulerLambdaStart:
    Type: 'AWS::Events::Rule'
    Properties:
      Description: event-rule-start-lambda
      State: ENABLED
      ScheduleExpression: "cron(00 23 ? * MON-FRI *)" # 9am AEST
      Targets:
        -
          Arn: !GetAtt Ec2SchedulerLambdaStart.Arn
          Id: "StartEC2Instances"
  EventRulePermissionLambdaStart:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt Ec2SchedulerLambdaStart.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceAccount: !Ref 'AWS::AccountId'
      SourceArn: !GetAtt EventRuleEc2SchedulerLambdaStart.Arn


  Ec2SchedulerLambdaStop:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: "lambda-ec2-scheduler-stop"
      Description:  Lambda to stop an EC2 based on Tag daily_scheduled:True
      Handler: index.lambda_handler
      MemorySize: 128
      Timeout: 120
      TracingConfig:
        Mode: Active
      Role: !GetAtt LambdaExecutionRole.Arn
      Runtime: python3.9
      Code:
        ZipFile: |
                import boto3
                from botocore.exceptions import ClientError

                def lambda_handler(event, context):
                    """
                    This function will stop an EC2 based on the tag daily_scheduled == True
                    """
                    ec2 = boto3.client('ec2')

                    # Filter EC2 based on tag daily_scheduled == True
                    filters=[{'Name':'tag:daily_scheduled', 'Values':['True']}]
                    response=ec2.describe_instances(Filters=filters)

                    try:
                        for r in response['Reservations']:
                            for i in r['Instances']:
                                instance = [i["InstanceId"]]
                                ec2.stop_instances(InstanceIds=instance)
                                print(f'EC2:', instance, 'stopped')
                    except ClientError as e:
                        print(e)

  EventRuleEc2SchedulerLambdaStop:
    Type: 'AWS::Events::Rule'
    Properties:
      Description: event-rule-stop-lambda
      State: ENABLED
      ScheduleExpression: "cron(00 8 ? * MON-FRI *)" # 6pm AEST
      Targets:
        -
          Arn: !GetAtt Ec2SchedulerLambdaStop.Arn
          Id: "StopEC2Instances"
  EventRulePermissionLambdaStop:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt Ec2SchedulerLambdaStop.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceAccount: !Ref 'AWS::AccountId'
      SourceArn: !GetAtt EventRuleEc2SchedulerLambdaStop.Arn


Outputs:
  LambdaStartFunctionArn:
    Description: ARN of the Lambda Function - Start
    Value: !GetAtt Ec2SchedulerLambdaStart.Arn
    Export:
      Name: "rol-lambda-ec2-scheduler-start-arn"
  LambdaStopFunctionArn:
    Description: ARN of the Lambda Function - Stop
    Value: !GetAtt Ec2SchedulerLambdaStop.Arn
    Export:
      Name: "rol-lambda-ec2-scheduler-stop-arn"


